<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Forms</title>
</h:head>
<h:body>
	<h:form>
		<p:accordionPanel id="formsPanel" value="#{formController.forms}"
			var="formInstance" rendered="#{not empty formController.forms}">
			<p:tab title="#{formInstance.name}">
			</p:tab>
		</p:accordionPanel>
		<p:accordionPanel rendered="#{not empty formController.forms}">
			<p:tab title="Add form">
				<p:panelGrid columns="3" layout="grid">
					<h:outputLabel value="Form name:" />
					<p:inputText value="#{formController.form.name}" required="true"
						label="text" />
					<p:commandButton update="@form"
						action="#{formController.createForm}" value="Add form" />
				</p:panelGrid>
			</p:tab>
		</p:accordionPanel>
		<p:accordionPanel id="addFormPanel"
			rendered="#{empty formController.forms}">
			<p:tab title="No forms added yet, please add some">
				<p:panelGrid columns="3" layout="grid">
					<h:outputLabel value="Form name:" />
					<p:inputText value="#{formController.form.name}" required="true"
						label="text" />
					<p:commandButton update="@form"
						action="#{formController.createForm}" value="Add form" />
				</p:panelGrid>
			</p:tab>
		</p:accordionPanel>
	</h:form>
</h:body>
</html>